*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
    min-width: 473px;
    
    
}

.logo-plus{
    display: flex;
    justify-content: space-around
    
    
}

.logo{
    width: 45%;
}
.buscador{
    width: 45%;
    margin-top: 15px;
}

.banner{
    padding-top: 227px
}

div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    margin: 20px 0px;
    width: 40px;
    height: 40px;
    background-color: #0044AA;
    color: #FFF;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
}

div.burger-menu i:hover{
    cursor: pointer;
    background-color: #0022AA;
}



.copy-header{
    font-weight: 400;
    text-align: center;
    
}

h3{
    font-size: 24px;
}

header{
    background-color: #EAC926;
    padding: 20px;
    width: 100%;
    position: fixed;
    z-index: 2;
    
}

.fin{
    color: black;
}

.header-bottom-bar{
    display: none;
}



header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}

div.last-visit,
div.offers{
    display: flex;
    flex-wrap: wrap;
}

article div.main-article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 20px;
}

.articulo:hover{
    box-shadow: 1px 7px 14px 1px rgb(100, 100, 100);
    
}

.articulo:hover .fas {
    transform: rotatey(360deg);
}

.articulo:hover .description{
    height: 20px;
    margin-top: 25px;
}

.description{
    transition: all .6s ease-in;
    height: 0px;
    overflow: hidden;
}

.price{
    font-size: 18px;
    width: 30%;
    
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;    
}

.discount{
    width: 70%;
    
}




h3,
.description{
    color: #666;
    
}

section.banner img{
    width: 100%;
    display: block;
}

main{
    width: 90%;
    margin: 0 auto;
}

main section h3{
    margin: 20px 0px;
}

main section article{
    background-color: #fff;
    margin: 10px 0px;
}

main section article img{
    display: block;
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    transition: all 2500ms;
                                          

}


footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background-color: #fff;
    color: #666;
    padding: 20px 5%;
}

footer article{
    position: relative;
    margin-bottom: 20px ;
    text-align: center;
}

footer i{      
    color: #1259c3;
    font-size: 2em;
    padding: 10px;
    
    
}

footer i:hover{
    color: rgb(14, 204, 238);
    cursor: pointer;
}

footer div p{
    width: 100%;
}



.formu,
.login button,
.register button{
    width: 100%;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 5px;
    border: 0px;
}

.login button[type='submit'],
.register button[type='submit']{
    color: #FFF;
    background-color: #0044AA;  
    border-radius: 5px;
}

.login button[type='submit']:hover,
.register button[type='submit']:hover{
    background-color: #0022AA;
    cursor: pointer;
}

.register button[type='reset']{
    color: #FFF;
    background-color: #AA0044;
}

.register button[type='reset']:hover{
    background-color: #CC1155;
    cursor: pointer;
}





input:invalid {
    border: 2px solid red;
    
  }

  .extras{
      border-bottom: solid 1px rgb(184, 181, 181);
      display: flex;
      flex-direction: column;
  }
 

  .register,.login{
    padding-top: 250px
  }




@media screen and (min-width: 768px ){


    .banner{
        padding-top: 127px
    }
    .cabezera{
        
        display: flex;
        justify-content:space-between;
    }
    .copy-header{
        font-size: 12px;
        max-width: 350px;
        text-align: center;
        margin-top: 20px;
    }
    .burger-menu{
        display: none;
    }
    .header-bottom-bar{
        display:flex;
        justify-content: space-between;    
    }
    .header-bottom-bar ul {
        display: flex;
    }
    .header-bottom-bar li {
        margin: 0 5px;
    }
    
    .buscador{
     margin: auto;}

     footer{
    flex-flow: row wrap;
    justify-content: space-between;
    
    }

    footer article{
        width: 33%;
    } 
    .extras{
        flex-direction: row;
    }

    main article{
        width:45%;

         }
         .contenedor{
           display: flex;
          flex-flow: row wrap;
           justify-content:space-between;
          
     
}

.register,.login{
    padding-top: 150px
  }


}

@media screen and (min-width: 1200px ){

    .register,.login{
        padding-top: 225px
      }

    main article{
        width:22%}
    
    .cabezera, .header-bottom-bar{
        max-width: 1200px;
        margin: auto;
        align-items: center;
    }
    .header-bottom-bar li {
        margin: 0 10px;
    }
    .header-bottom-bar a {
        font-size: 19px;
    }
    .header-bottom-bar{
        margin-top: 50px;
    }
    .copy-header{
        max-width: none;
        font-size: 25px;
        font-weight: 400;
        margin-top: 0px;
    }
    .logo{
        width: 300px;
    }
    .buscador {
        margin: 25px;
        display: flex;
    }
    .barra{
        display: inline-block;
        width: 300px;
        height: 35px;
    }

    .login, .register{
        width: 75%;
        margin-bottom: 20px;
        margin-top: 20px;
    }
 
    .discount{
        right: -17px;
        position: absolute
    }
    .price{
        position:absolute;
        top: 19px;
    }

    header{
        margin-top: -20px
    }
}


